@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

$very-dark-blue: hsl(234, 12%, 34%);
$grayish-blue: hsl(229, 6%, 66%);
$very-light-gray: hsl(0, 0%, 98%);

*,
body {
    margin: 0;
    font-family: "Poppins", sans-serif;
}
